* { margin: 0; padding: 0; box-sizing: border-box;}


body {
font: 13px Helvetica, Arial;background: #5aae9c;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #EAECC6, #2BC0E4);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
     
.outer-container{
margin-left: 50px;

}
form { bottom: 0; position:absolute; margin: 5px; display: flex; width: 97%;}
.form-inline input { border: 1px solid #ddd; width: 100%;margin-right: 3px;}
.form-inline button {background: rgb(130, 224, 255); border: none;  }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #f2e6ad; }
#messages { margin-bottom: 40px ; }

/*White board*/
#sketch-holder {
	margin-top: 1%;
	margin-bottom: 1%; 
	margin-right:10px;
	background: #ffffff; 
	border: 2px #258971 solid;
	width:65%;
	overflow-x: scroll;
}
#myCanvas {background: #ffffff;}

/*@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);*/

.detailBox {

	min-width: 451px;
    width:20%;
    position: relative;
    border:2px solid #258971;
    margin:50px;
    margin-bottom: 14px;
    margin-top: 14px;
    margin-left: 0;
    background-color: #FFF2B3;
}
.titleBox {
    background-color: #F4E9DF;
    font-weight: bold;
    padding:10px;

}

.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}

.actionBox .form-group * {
    width:100%;
}

.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height: 400px;
    overflow-y:scroll;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    margin:0;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.actionBox {
	position: relative;
    border-top:1px dotted #258971;
    padding:10px;
}

.text-field{
	flex:1;
	width: 100%
}

.btn2{
	background-color: #fff;
	font-weight: bold;
	color: #35B899;
}

.image-picker{
	padding: 5px;
	width: 30px; 
	height: 30px;
}

span{
	font-size: 12px;
	color: black;
	font-weight: bold;
}
